
body {
    overflow-y: hidden !important;
}

#body {
}

#infoArea {
    visibility: hidden;
}

#modelInfoContainer {
    border-color: black;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 500;
    padding: 10px;
    border-radius: 5px;
    padding-right: 0;
}

#viewerCanvas {
    width: 100%;
    height: calc(100vh - 320px);
    border: 0;
    background: lightblue;
}

#navCubeCanvas {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    z-index: 700000000;
}

#treeViewContainer {
    pointer-events: all;
    height: calc(100vh - 400px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    z-index: 500;
    padding-left: 10px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 100%;
    padding-top: 10px;
}

#treeViewContainer ul {
    list-style: none;
    padding-left: 1.75em;
    pointer-events: none;
}

#treeViewContainer ul li {
    position: relative;
    width: 600px;
    pointer-events: none;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

#treeViewContainer ul li a {
    background-color: #eee;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    height: 1.5em;
    left: -1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
    pointer-events: all;
}

#treeViewContainer ul li a.plus {
    background-color: #ded;
    pointer-events: all;
}

#treeViewContainer ul li a.minus {
    background-color: #eee;
    pointer-events: all;
}

#treeViewContainer ul li a:active {
    top: 1px;
    pointer-events: all;
}

#treeViewContainer ul li span:hover {
    color: white;
    cursor: pointer;
    background: black;
    padding-left: 2px;
    pointer-events: all;
}

#treeViewContainer ul li span {
    display: inline-block;
    width: calc(100% - 50px);
    padding-left: 2px;
    pointer-events: all;
    height: 23px;
}

#treeViewContainer .highlighted-node { /* Appearance of node highlighted with TreeViewPlugin#showNode() */
    border: black solid 1px;
    background: yellow;
    color: black;
    padding-left: 1px;
    padding-right: 5px;
    pointer-events: all;
}

.xeokit-context-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: none;
    z-index: 300000;
    background: rgba(255, 255, 255, 0.46);
    border: 1px solid black;
    border-radius: 6px;
    padding: 0;
    width: 250px;
}

.xeokit-context-menu ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.xeokit-context-menu ul li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
    border-bottom: 1px solid gray;
    background: rgba(255, 255, 255, 0.46);
    cursor: pointer;
    width: calc(100% - 30px);
}

.xeokit-context-menu ul li:hover {
    background: black;
    color: white;
    font-weight: bold;
}

.xeokit-context-menu ul li span {
    display: inline-block;
}

.xeokit-context-menu .disabled {
    display: inline-block;
    color: gray;
    cursor: default;
    font-weight: normal;
}

.xeokit-context-menu .disabled:hover {
    color: gray;
    cursor: default;
    background: #eeeeee;
    font-weight: normal;
}




.xeokit-propertiesTab .element-attributes {
    padding-left: 10px;
}

.xeokit-propertiesTab .xeokit-tab-btn {
    margin-left: 15px;
}

.xeokit-propertiesTab .title {
    color: #CFCFCF;
    font-size: 20px;
    font-weight: normal;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 12px;
}

.xeokit-propertiesTab .subtitle {
    color: #CFCFCF;
    font-size: 16px;
    font-weight: normal;
    padding-left: 0;
}

.xeokit-propertiesTab .subsubtitle {
    color: #CFCFCF;
    font-size: 14px;
    font-weight: normal;
    padding-left: 0;
}

.xeokit-propertiesTab .panel {
    padding: 0 18px;
    background: #03103F;
    color: #CFCFCF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s;
}

.xeokit-propertiesTab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.xeokit-propertiesTab .row {
    display: flex;
}

.xeokit-propertiesTab .row .col {
    flex: 1;
}

.xeokit-propertiesTab .row .col:last-child {
    margin-left: 1em;
}

.xeokit-propertiesTab .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.xeokit-propertiesTab .tab {
    width: 100%;
    color: #CFCFCF;
    overflow: hidden;
}

.xeokit-propertiesTab .tab-label {
    display: flex;
    padding: .5em .5em .5em 1em;
    font-weight: normal;
    cursor: pointer;
}

.xeokit-propertiesTab .tab-label:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.xeokit-propertiesTab .tab-label::before {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.xeokit-propertiesTab .tab-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
    overflow: hidden;
}

.viewer-button {
    background-color: #dcffdd;
}

.viewer-button-disabled {
    color: black !important;
    background-color: #f1bdbd !important;
    pointer-events: none !important;
    text-decoration: line-through;
}

.disabled {
    color: black;
    pointer-events: none !important;
}

