<tr>
<!--    <td><a href="@@attributionPath">@@modelId.ifc</a></td>-->
    <td>@@modelId.ifc</td>
    <td style="text-align:right;">@@sourceFileSize</td>
    <td style="text-align:right;">@@xktFileSize</td>
    <td style="text-align:right;">@@conversionTime</td>
    <td style="text-align:center;"><a href="./ifc-viewer.html?dataDir=https://xeokit.github.io/xeokit-model-conversion-tests/convertedModels/ifc/&projectId=@@batchId&modelId=@@modelId">View</a> </td>
    <td style="text-align:center;"><a href="./ifc-debug.html?dataDir=./convertedModels/ifc/&projectId=@@batchId&modelId=@@modelId">Debug</a> </td>
    <td style="text-align:center;"><a href="@@logPath">Log</a></td>
    <td style="text-align:center;"><a href="@@modelLinkPath">Link</a></td>
    <td style="text-align:center;"><a href="javascript:createModelZip('@@modelLinkPath', '@@batchId', '@@modelId')">Zip</a></td>
</tr>