<section class="test-results-section">
                    <div class="container pt-6 pb-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-sm table-hover  table-bordered mb-0">
                                <tr style="background-color: rgba(0, 0, 0, 0.05);"><th>IFC File</th><th style="text-align:right;">IFC Size (Mb)</th><th style="text-align:right;">XKT Size (Mb)</th><th style="text-align:right;">Conversion Time (Secs)</th><th style="text-align:center;" colspan="5">Converted XKT</th></tr>
                                <tbody>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>XCD-114</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/ifc/ifc-modelConversionResults.html', { 
                            "batchId": "XCD-114", 
                            "modelId": "1c815ac1-533a-4841-ac0b-cfc66aa525ca", 
                            "sourceFileSize": "405.2877", 
                            "xktFileSize":"7.7687", 
                            "conversionTime": "0",
                            "attributionPath": "",
                            "logPath": "./convertedModels/ifc//projects/XCD-114/models/1c815ac1-533a-4841-ac0b-cfc66aa525ca/log.txt",
                            "modelLinkPath": "./convertedModels/ifc//projects/XCD-114/models/1c815ac1-533a-4841-ac0b-cfc66aa525ca/model.xkt.manifest.json"
                        })
</tbody></table></div></div></div></section>