@@include('../../_includes/ifc/ifc-systemInfoCard.html', { 
            "time":"1729084584021",
            "date":"Wed Oct 16 2024 15:16:24 GMT+0200 (Central European Summer Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.4 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v20.12.0",
            "xeokitVersion": "2.6.50",
            "xeokitConvertVersion": "1.1.23",
            "cxConverterVersion": "4_24_beta"
            })