@@include('../../_includes/ifc/ifc-systemInfoCard.html', { 
            "time":"1714732509207",
            "date":"Fri May 03 2024 12:35:09 GMT+0200 (Central European Summer Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.4 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v20.12.0",
            "xeokitVersion": "2.6.7",
            "xeokitConvertVersion": "1.1.16",
            "cxConverterVersion": "3.0.25-beta"
            })