@@include('../../_includes/ifc/ifc-systemInfoCard.html', { 
            "time":"1708945564275",
            "date":"Mon Feb 26 2024 12:06:04 GMT+0100 (Central European Standard Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.3 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v16.17.1",
            "xeokitVersion": "2.5.2-beta-23",
            "xeokitConvertVersion": "1.1.15-beta-1",
            "cxConverterVersion": "3.0.12"
            })