<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>2011-09-14-Clinic</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "2011-09-14-Clinic", "modelId": "Clinic_A_20110906" })
@@include('../_includes/modelConversionResults.html', { "batchId": "2011-09-14-Clinic", "modelId": "Clinic_A_20110906_optimized" })
@@include('../_includes/modelConversionResults.html', { "batchId": "2011-09-14-Clinic", "modelId": "Clinic_MEP_20110906" })
@@include('../_includes/modelConversionResults.html', { "batchId": "2011-09-14-Clinic", "modelId": "Clinic_MEP_20110906_optimized" })
@@include('../_includes/modelConversionResults.html', { "batchId": "2011-09-14-Clinic", "modelId": "Clinic_S_20110715" })
@@include('../_includes/modelConversionResults.html', { "batchId": "2011-09-14-Clinic", "modelId": "Clinic_S_20110715_optimized" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>Archicad</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "Archicad", "modelId": "AR-Demo_Sample_Building_01" })
@@include('../_includes/modelConversionResults.html', { "batchId": "Archicad", "modelId": "Archicad-Demoprojekt" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>BIMData</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "BIMData", "modelId": "19_rue_Marc_Antoine_Petit_Ground_floor" })
@@include('../_includes/modelConversionResults.html', { "batchId": "BIMData", "modelId": "MAP" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>Duplex-IFC2x3-2011-05-05</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "Duplex-IFC2x3-2011-05-05", "modelId": "Duplex_2x3_2011-05-05" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>Duplex-IFC2x3-2011-09-07</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "Duplex-IFC2x3-2011-09-07", "modelId": "Duplex_2x3_2011-09-07" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>Duplex-IFC2x3-2011-09-14</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "Duplex-IFC2x3-2011-09-14", "modelId": "Duplex_A_20110907" })
@@include('../_includes/modelConversionResults.html', { "batchId": "Duplex-IFC2x3-2011-09-14", "modelId": "Duplex_A_20110907_optimized" })
@@include('../_includes/modelConversionResults.html', { "batchId": "Duplex-IFC2x3-2011-09-14", "modelId": "Duplex_MEP_20110907" })
@@include('../_includes/modelConversionResults.html', { "batchId": "Duplex-IFC2x3-2011-09-14", "modelId": "Duplex_MEP_20110907_optimized" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>IfcOpenShell</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "IfcOpenShell", "modelId": "IfcOpenHouse2x3" })
@@include('../_includes/modelConversionResults.html', { "batchId": "IfcOpenShell", "modelId": "IfcOpenHouse4" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>KarhumakiBridge</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "KarhumakiBridge", "modelId": "Karhumaki-Bridge" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>LTU_A-House_2014-09-25_ifc</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_Air" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_Cooling" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_Ducting" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_Heating" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_K-modell" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_Plumbing" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_Sanitation" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_VOIDS" })
@@include('../_includes/modelConversionResults.html', { "batchId": "LTU_A-House_2014-09-25_ifc", "modelId": "LTU_A-House_redesign" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>Revit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "Revit", "modelId": "Duplex" })
@@include('../_includes/modelConversionResults.html', { "batchId": "Revit", "modelId": "rac_advanced_sample_project" })
@@include('../_includes/modelConversionResults.html', { "batchId": "Revit", "modelId": "rme_advanced_sample_project" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>RiverSideOffice</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "RiverSideOffice", "modelId": "RiverSideOffice" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>SGD_BODO_ifc</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "SGD_BODO_ifc", "modelId": "SGD_BODO_Arch-2" })
@@include('../_includes/modelConversionResults.html', { "batchId": "SGD_BODO_ifc", "modelId": "SGD_BODO_Arch-3" })
@@include('../_includes/modelConversionResults.html', { "batchId": "SGD_BODO_ifc", "modelId": "SGD_BODO_Eng-HVAC-Plumbing" })
@@include('../_includes/modelConversionResults.html', { "batchId": "SGD_BODO_ifc", "modelId": "SGD_BODO_Eng-HVAC-Ventilation" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>blenderbim</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "blenderbim", "modelId": "auto-geolocation" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>buildingSMART_IFC2.3</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC2.3", "modelId": "Clinic_Architectural" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC2.3", "modelId": "Clinic_Electrical" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC2.3", "modelId": "Clinic_HVAC" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC2.3", "modelId": "Clinic_Plumbing" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC2.3", "modelId": "Clinic_Structural" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC2.3", "modelId": "Schependomlaan" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="test-results-section">
    <div class="container pt-6 pb-0">
        <div class="row">
            <div class="col-lg-12">
                <h2>buildingSMART_IFC4.0</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-hover table-striped table-bordered mb-0">
                    <tbody>
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "air-terminal-element" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "air-terminal-library-object" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "basin-advanced-brep" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "basin-faceted-brep" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "basin-tessellation" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "bath-csg-solid" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-curved-i-shape-tessellated" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-extruded-solid" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-revolved-solid" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-standard-case" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-straight-i-shape-tessellated" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-varying-cardinal-points" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-varying-extrusion-paths" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "beam-varying-profiles" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "brep-model" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "column-extruded-solid" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "column-straight-rectangle-tessellation" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "construction-scheduling-task" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "csg-primitive" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "cube-advanced-brep" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "extruded-solid" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "geographic-referencing" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "grid-placement" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "mapped-shape-with-multiple-items" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "mapped-shape-with-transformation" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "mapped-shape-without-transformation" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "reinforcing-assembly" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "reinforcing-stirrup" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "slab-openings" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "slab-standard-case" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "slab-tessellated-unique-vertices" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "structural-curve-member" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "surface-model" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "tessellated-item" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "tessellation-with-blob-texture" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "tessellation-with-image-texture" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "tessellation-with-individual-colors" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "tessellation-with-pixel-texture" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "wall-elemented-case" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "wall-standard-case" })
@@include('../_includes/modelConversionResults.html', { "batchId": "buildingSMART_IFC4.0", "modelId": "wall-with-opening-and-window" })
</tbody>
                </table>
            </div>
        </div>
    </div>
</section>