@@include('../_includes/modelConversionResults.html', { "modelId": "Duplex", "title":"Duplex.ifc", "conversionId": "2" })
@@include('../_includes/modelConversionResults.html', { "modelId": "IfcOpenHouse2x3", "title":"IfcOpenHouse2x3.ifc", "conversionId": "5" })
@@include('../_includes/modelConversionResults.html', { "modelId": "IfcOpenHouse4", "title":"IfcOpenHouse4.ifc", "conversionId": "8" })
@@include('../_includes/modelConversionResults.html', { "modelId": "MAP", "title":"MAP.ifc", "conversionId": "11" })
@@include('../_includes/modelConversionResults.html', { "modelId": "rac_advanced_sample_project", "title":"rac_advanced_sample_project.ifc", "conversionId": "14" })
@@include('../_includes/modelConversionResults.html', { "modelId": "rme_advanced_sample_project", "title":"rme_advanced_sample_project.ifc", "conversionId": "17" })