<div class="col-md-12 mb-5">
    <h4>@@title</h4>
    <p>@@date</p>
    <table class="table table-sm table-hover table-striped table-bordered mb-0">
        <thead>
        <tr>
            <th scope="col">Files</th>
            <th scope="col">Conversion Pipeline</th>
            <th scope="col">Log</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/model.ifc">.ifc</a></td>
            <td><a href="">WebGLLoaderPlugin</a></td>
            <td> -</td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/community1/model.glb">.glb</a></td>
            <td><a href="pipelines.html#community1">Community IFC Conversion Pipeline #1</a></td>
            <td><a href="./results/@@modelId/community1/log.txt">Log</a></td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/enterprise1/model.glb">.glb</a></td>
            <td><a href="pipelines.html#enterprise1">Enterprise IFC Conversion Pipeline #1</a></td>
            <td><a href="./results/@@modelId/enterprise1/log.txt">Log</a></td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/community1/model.glb&metaModelSrc=results/@@modelId/community1/model.json">.glb + .json</a></td>
            <td><a href="pipelines.html#community1">Community IFC Conversion Pipeline #1</a></td>
            <td><a href="./results/@@modelId/community1/log.txt">Log</a></td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/enterprise1/model.glb&metaModelSrc=results/@@modelId/enterprise1/model.json">.glb + .json</a></td>
            <td><a href="pipelines.html#enterprise1">Enterprise IFC Conversion Pipeline #1</a></td>
            <td><a href="./results/@@modelId/enterprise1/log.txt">Log</a></td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/community1/model.xkt">.xkt</a></td>
            <td><a href="pipelines.html#community1">Community IFC Conversion Pipeline #1</a></td>
            <td><a href="./results/@@modelId/community1/log.txt">Log</a></td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/community2/model.xkt">.xkt</a></td>
            <td><a href="pipelines.html#community2">Community IFC Conversion Pipeline #2</a></td>
            <td><a href="./results/@@modelId/community2/log.txt">Log</a></td>
        </tr>
        <tr>
            <td><a href="./viewModel.html?src=results/@@modelId/enterprise1/model.xkt">.xkt</a></td>
            <td><a href="pipelines.html#enterprise1">Enterprise IFC Conversion Pipeline #1</a></td>
            <td><a href="./results/@@modelId/enterprise1/log.txt">Log</a></td>
        </tr>
        </tbody>
    </table>
</div>