<section id="@@modelId" class="conversion-results-section">
    <div class="container pt-0 mt-0 pb-0 mb-0">
        <h4>@@title</h4>

        <table class="table table-hover table-bordered mb-0 ">
            <thead>
            <tr>
                <th scope="col">Pipeline</th>
                <th scope="col">Viewables</th>
                <th scope="col">Downloadables</th>
                <th scope="col">Conversion Logs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="index.html#ifcCommunityPipeline1"><p>Community IFC Pipeline #1</p></a>
                </td>
                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline1/model.xkt&pipelineId=ifcCommunity1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">XKT</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/model.ifc&pipelineId=ifcCommunity1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">IFC</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline1/model.glb&pipelineId=ifcCommunity1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">glTF</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline1/model.glb&metaModelSrc=results/@@modelId/ifcCommunityPipeline1/model.json&pipelineId=ifcCommunity1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">glTF + JSON</button>
                    </a>
                </td>
                <td>
                    <a href="./results/@@modelId/ifcCommunityPipeline1/model.xkt">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">XKT</button>
                    </a> <a href="./results/@@modelId/model.ifc">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">IFC</button>
                </a> <a href="./results/@@modelId/ifcCommunityPipeline1/model.glb">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">glTF</button>
                </a><a href="./results/@@modelId/ifcCommunityPipeline1/model.json">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">JSON</button>
                </a></td>
                <td><a href="./results/@@modelId/ifcCommunityPipeline1/log.txt">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">Log</button>
                </a></td>
            </tr>


            <tr>
                <td><a href="index.html#ifcCommunityPipeline2"><p>Community IFC Pipeline #2</p></a>
                </td>
                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline2/model.xkt&pipelineId=ifcCommunity2">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">XKT</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/model.ifc&pipelineId=ifcCommunity2">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">IFC</button>
                    </a>
                </td>

                <td><a href="./results/@@modelId/ifcCommunityPipeline1/model.xkt">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">XKT</button>
                    <a href="./results/@@modelId/model.ifc">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">IFC</button>
                    </a>

                </a>
             </td>

                <td><a href="./results/@@modelId/ifcCommunityPipeline2/log.txt">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">Log</button>
                </a></td>
            </tr>

            <tr>
                <td>
                    <a href="index.html#ifcEnterprisePipeline1"><p>Enterprise IFC Pipeline #1</p></a>
                </td>
                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcEnterprisePipeline1/model.xkt&pipelineId=ifcEnterprise1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">XKT</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/model.ifc&pipelineId=ifcCommunity1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">IFC</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcEnterprisePipeline1/model.glb&pipelineId=ifcEnterprise1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">glTF</button>
                    </a>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcEnterprisePipeline1/model.glb&metaModelSrc=results/@@modelId/ifcEnterprisePipeline1/model.json&pipelineId=ifcEnterprise1">
                        <button type="button" class="btn btn-secondary btn-sm btn-outline-success">glTF + JSON</button>
                    </a>
                </td>


                <td><a href="./results/@@modelId/ifcEnterprisePipeline1/model.xkt">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">XKT</button>
                </a><a href="./results/@@modelId/model.ifc">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">IFC</button>
                </a> <a href="./results/@@modelId/ifcEnterprisePipeline1/model.glb">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">glTF</button>
                </a><a href="./results/@@modelId/ifcEnterprisePipeline1/model.json">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">JSON</button>
                </a></td>
                <td><a href="./results/@@modelId/ifcEnterprisePipeline1/log.txt">
                    <button type="button" class="btn btn-secondary btn-sm btn-outline-success">Log</button>
                </a></td>
            </tr>


            </tbody>
        </table>


    </div>
</section>
