<section id="@@modelId" class="conversion-results-section">
    <div class="container pt-2 mt-0 pb-0 mb-1">
        <h4>@@title</h4>
        <table class="table table-sm table-hover table-striped table-bordered mb-0 ">
            <thead>
            <tr>
                <th scope="col">Files</th>
                <th scope="col">Conversion Pipeline</th>
                <th scope="col">Log</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/model.ifc">View .ifc</a>
                </td>
                <td><a href="">WebGLLoaderPlugin</a></td>
                <td> -</td>
            </tr>
            <tr>

                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline1/model.glb&pipelineId=ifcCommunity1">View .glb</a>
                </td>
                <td><a href="index.html#ifcCommunityPipeline1">Community IFC Conversion Pipeline #1</a></td>
                <td><a href="./results/@@modelId/ifcCommunityPipeline1/log.txt">Log</a></td>
            </tr>
            <tr>

                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcEnterprisePipeline1/model.glb&pipelineId=ifcEnterprise1">View .glb</a>
                </td>
                <td><a href="index.html#ifcEnterprisePipeline1">Enterprise IFC Conversion Pipeline #1</a></td>
                <td><a href="./results/@@modelId/ifcEnterprisePipeline1/log.txt">Log</a></td>
            </tr>
            <tr>
                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline1/model.glb&metaModelSrc=results/@@modelId/ifcCommunityPipeline1/model.json&pipelineId=ifcCommunity1">View .glb and .json</a>
                </td>
                <td><a href="index.html#ifcCommunityPipeline1">Community IFC Conversion Pipeline #1</a></td>
                <td><a href="./results/@@modelId/ifcCommunityPipeline1/log.txt">Log</a></td>
            </tr>
            <tr>

                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcEnterprisePipeline1/model.glb&metaModelSrc=results/@@modelId/ifcEnterprisePipeline1/model.json&pipelineId=ifcEnterprise1">View .glb and .json</a>
                </td>
                <td><a href="index.html#ifcEnterprisePipeline1">Enterprise IFC Conversion Pipeline #1</a></td>
                <td><a href="./results/@@modelId/ifcEnterprisePipeline1/log.txt">Log</a></td>
            </tr>
            <tr>
                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline1/model.xkt&pipelineId=ifcCommunity1">View .xkt</a>
                </td>
                <td><a href="index.html#ifcCommunityPipeline1">Community IFC Conversion Pipeline #1</a></td>
                <td><a href="./results/@@modelId/ifcCommunityPipeline1/log.txt">Log</a></td>
            </tr>
            <tr>

                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcCommunityPipeline2/model.xkt&pipelineId=ifcCommunity2">View .xkt</a>
                </td>
                <td><a href="index.html#ifcCommunityPipeline2">Community IFC Conversion Pipeline #2</a></td>
                <td><a href="./results/@@modelId/ifcCommunityPipeline2/log.txt">Log</a></td>
            </tr>
            <tr>

                <td>
                    <a href="./viewer.html?conversionId=@@conversionId&src=results/@@modelId/ifcEnterprisePipeline1/model.xkt&pipelineId=ifcEnterprise1">View .xkt</a>
                </td>
                <td><a href="index.html#ifcEnterprisePipeline1">Enterprise IFC Conversion Pipeline #1</a></td>
                <td><a href="./results/@@modelId/ifcEnterprisePipeline1/log.txt">Log</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
