

<table class="table table-sm table-hover table-striped table-bordered mb-0">
    <tbody>
    <tr>
        <td>Date</td>
        <td>@@date</td>
    </tr>
    <tr>
        <td>CPU Manufacturer</td>
        <td>@@cpuManufacturer</td>
    </tr>
    <tr>
        <td>CPU Brand</td>
        <td>@@cpuBrand</td>
    </tr>
    <tr>
        <td>Memory</td>
        <td>@@totalMemory</td>
    </tr>
    <tr>
        <td>OS Platform</td>
        <td>@@osPlatform</td>
    </tr>
    <tr>
        <td>OS Distro</td>
        <td>@@osDistro</td>
    </tr>
    <tr>
        <td>OS Release</td>
        <td>@@osRelease</td>
    </tr>
    <tr>
        <td>Node.js</td>
        <td>@@nodeVersion</td>
    </tr>
    <tr>
        <td>ifc2gltfcxconverter</td>
        <td>@@cxConverterVersion</td>
    </tr>
    <tr>
        <td>@xeokit/xeokit-convert</td>
        <td>@@xeokitConvertVersion</td>
    </tr>
    <tr>
        <td>@xeokit/xeokit-sdk</td>
        <td>@@xeokitVersion</td>
    </tr>
    </tbody>
</table>