@@include('../_includes/systemInfoCard.html', { 
            "time":"1703443472066",
            "date":"Sun Dec 24 2023 19:44:32 GMT+0100 (Central European Standard Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.3 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v16.17.1",
            "xeokitVersion": "2.5.2-beta-3",
            "xeokitConvertVersion": "1.1.11",
            "cxConverterVersion": "3.0.4"
            })