@@include('../../_includes/las/las-systemInfoCard.html', { 
            "time":"1718710971856",
            "date":"Tue Jun 18 2024 13:42:51 GMT+0200 (Central European Summer Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.4 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v20.12.0",
            "xeokitVersion": "2.6.22",
            "xeokitConvertVersion": "1.1.18"
            })