<section class="test-results-section">
                    <div class="container pt-6 pb-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-sm table-hover  table-bordered mb-0">
                                <tr style="background-color: rgba(0, 0, 0, 0.05);"><th>las File</th><th style="text-align:right;">las Size (Mb)</th><th style="text-align:right;">XKT Size (Mb)</th><th style="text-align:right;">Conversion Time (Secs)</th><th style="text-align:center;" colspan="5">Converted XKT</th></tr>
                                <tbody>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>samples</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/las/las-modelConversionResults.html', { 
                            "batchId": "samples", 
                            "modelId": "Africa_Palace", 
                            "sourceFileSize": "536.5584", 
                            "xktFileSize":"0", 
                            "conversionTime": "13.05",
                            "attributionPath": "",
                            "logPath": "./convertedModels/las//projects/samples/models/Africa_Palace/log.txt",
                            "modelLinkPath": "./convertedModels/las//projects/samples/index.json"
                        })
@@include('../../_includes/las/las-modelConversionResults.html', { 
                            "batchId": "samples", 
                            "modelId": "Nalls_Pumpkin_Hill", 
                            "sourceFileSize": "33.0145", 
                            "xktFileSize":"0", 
                            "conversionTime": "7.09",
                            "attributionPath": "",
                            "logPath": "./convertedModels/las//projects/samples/models/Nalls_Pumpkin_Hill/log.txt",
                            "modelLinkPath": "./convertedModels/las//projects/samples/index.json"
                        })
@@include('../../_includes/las/las-modelConversionResults.html', { 
                            "batchId": "samples", 
                            "modelId": "autzen", 
                            "sourceFileSize": "56.3510", 
                            "xktFileSize":"0", 
                            "conversionTime": "19.45",
                            "attributionPath": "",
                            "logPath": "./convertedModels/las//projects/samples/models/autzen/log.txt",
                            "modelLinkPath": "./convertedModels/las//projects/samples/index.json"
                        })
@@include('../../_includes/las/las-modelConversionResults.html', { 
                            "batchId": "samples", 
                            "modelId": "laman_mahkota", 
                            "sourceFileSize": "387.5290", 
                            "xktFileSize":"0", 
                            "conversionTime": "10.26",
                            "attributionPath": "",
                            "logPath": "./convertedModels/las//projects/samples/models/laman_mahkota/log.txt",
                            "modelLinkPath": "./convertedModels/las//projects/samples/index.json"
                        })
@@include('../../_includes/las/las-modelConversionResults.html', { 
                            "batchId": "samples", 
                            "modelId": "stadium_b", 
                            "sourceFileSize": "433.1021", 
                            "xktFileSize":"0", 
                            "conversionTime": "11.34",
                            "attributionPath": "",
                            "logPath": "./convertedModels/las//projects/samples/models/stadium_b/log.txt",
                            "modelLinkPath": "./convertedModels/las//projects/samples/index.json"
                        })
</tbody></table></div></div></div></section>