<section class="test-results-section">
                    <div class="container pt-6 pb-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-sm table-hover  table-bordered mb-0">
                                <tr style="background-color: rgba(0, 0, 0, 0.05);"><th>las File</th><th style="text-align:right;">las Size (Mb)</th><th style="text-align:right;">XKT Size (Mb)</th><th style="text-align:right;">Conversion Time (Secs)</th><th style="text-align:center;" colspan="5">Converted XKT</th></tr>
                                <tbody>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>samples</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/las/las-modelConversionResults.html', { 
                            "batchId": "samples", 
                            "modelId": "XCD-103", 
                            "sourceFileSize": "0.3185", 
                            "xktFileSize":"0", 
                            "conversionTime": "0.65",
                            "attributionPath": "",
                            "logPath": "./convertedModels/las//projects/samples/models/XCD-103/log.txt",
                            "modelLinkPath": "./convertedModels/las//projects/samples/index.json"
                        })
</tbody></table></div></div></div></section>