@@include('../../_includes/las/las-systemInfoCard.html', { 
            "time":"1717423660651",
            "date":"Mon Jun 03 2024 16:07:40 GMT+0200 (Central European Summer Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.4 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v20.12.0",
            "xeokitVersion": "2.6.16",
            "xeokitConvertVersion": "1.1.18"
            })