@@include('../../_includes/las/las-systemInfoCard.html', { 
            "time":"1707526378865",
            "date":"Sat Feb 10 2024 01:52:58 GMT+0100 (Central European Standard Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.3 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v16.17.1",
            "xeokitVersion": "2.5.2-beta-20",
            "xeokitConvertVersion": "1.1.15-beta-1"
            })