<section class="test-results-section">
                    <div class="container pt-6 pb-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-sm table-hover  table-bordered mb-0">
                                <tr style="background-color: rgba(0, 0, 0, 0.05);"><th>gltf File</th><th style="text-align:right;">gltf Size (Mb)</th><th style="text-align:right;">XKT Size (Mb)</th><th style="text-align:right;">Conversion Time (Secs)</th><th style="text-align:center;" colspan="5">Converted XKT</th></tr>
                                <tbody>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>Archicad</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "Archicad", 
                            "modelId": "AR-Demo_Sample_Single_Building_01", 
                            "sourceFileSize": "5.1274", 
                            "xktFileSize":"0", 
                            "conversionTime": "3.56",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/Archicad/models/AR-Demo_Sample_Single_Building_01/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/Archicad/index.json"
                        })
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "Archicad", 
                            "modelId": "Archicad-Demoprojekt", 
                            "sourceFileSize": "5.2916", 
                            "xktFileSize":"0", 
                            "conversionTime": "3.30",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/Archicad/models/Archicad-Demoprojekt/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/Archicad/index.json"
                        })
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "Archicad", 
                            "modelId": "ME-Demo_Sample_Single_Building_01", 
                            "sourceFileSize": "3.7996", 
                            "xktFileSize":"0", 
                            "conversionTime": "3.07",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/Archicad/models/ME-Demo_Sample_Single_Building_01/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/Archicad/index.json"
                        })
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "Archicad", 
                            "modelId": "ST-Demo_Sample_Single_Building_01", 
                            "sourceFileSize": "1.0596", 
                            "xktFileSize":"0", 
                            "conversionTime": "1.28",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/Archicad/models/ST-Demo_Sample_Single_Building_01/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/Archicad/index.json"
                        })
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>BoxTextured-glTF</td><td></td><td></td><td></td><td colspan="5"></td></tr>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>BoxTextured-glTF-Binary</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "BoxTextured-glTF-Binary", 
                            "modelId": "BoxTextured", 
                            "sourceFileSize": "0.0065", 
                            "xktFileSize":"0", 
                            "conversionTime": "2.58",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/BoxTextured-glTF-Binary/models/BoxTextured/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/BoxTextured-glTF-Binary/index.json"
                        })
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>DamagedHelmet-glTF-Binary</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "DamagedHelmet-glTF-Binary", 
                            "modelId": "DamagedHelmet", 
                            "sourceFileSize": "3.7739", 
                            "xktFileSize":"0", 
                            "conversionTime": "117.33",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/DamagedHelmet-glTF-Binary/models/DamagedHelmet/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/DamagedHelmet-glTF-Binary/index.json"
                        })
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>HousePlan-glTF-Binary</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "HousePlan-glTF-Binary", 
                            "modelId": "HousePlan", 
                            "sourceFileSize": "28.6504", 
                            "xktFileSize":"0", 
                            "conversionTime": "192.30",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/HousePlan-glTF-Binary/models/HousePlan/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/HousePlan-glTF-Binary/index.json"
                        })
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>RoadWorks</td><td></td><td></td><td></td><td colspan="5"></td></tr>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>RoadWorks-glTF</td><td></td><td></td><td></td><td colspan="5"></td></tr>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>SkatePark-glTF</td><td></td><td></td><td></td><td colspan="5"></td></tr>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>SkatePark-glTF-Binary</td><td></td><td></td><td></td><td colspan="5"></td></tr>
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>VianneyHouse-glTF</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "VianneyHouse-glTF", 
                            "modelId": "VianneyHouse2", 
                            "sourceFileSize": "0.0227", 
                            "xktFileSize":"0", 
                            "conversionTime": "14.75",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/VianneyHouse-glTF/models/VianneyHouse2/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/VianneyHouse-glTF/index.json"
                        })
<tr style="height: 60px; vertical-align:bottom; background-color: rgba(0, 0, 0, 0.05);"><td style="font-size: larger; height: 60px; vertical-align:bottom;" ><b>VianneyHouse-glTF-Binary</td><td></td><td></td><td></td><td colspan="5"></td></tr>
@@include('../../_includes/gltf/gltf-modelConversionResults.html', { 
                            "batchId": "VianneyHouse-glTF-Binary", 
                            "modelId": "VianneyHouse2", 
                            "sourceFileSize": "2.4269", 
                            "xktFileSize":"0", 
                            "conversionTime": "14.67",
                            "attributionPath": "",
                            "logPath": "./convertedModels/gltf//projects/VianneyHouse-glTF-Binary/models/VianneyHouse2/log.txt",
                            "modelLinkPath": "./convertedModels/gltf//projects/VianneyHouse-glTF-Binary/index.json"
                        })
</tbody></table></div></div></div></section>