@@include('../../_includes/gltf/gltf-systemInfoCard.html', { 
            "time":"1712931941520",
            "date":"Fri Apr 12 2024 16:25:41 GMT+0200 (Central European Summer Time)",
            "cpuManufacturer": "Intel", 
            "cpuBrand": "Xeon® Gold 6134",
            "osPlatform": "linux" ,
            "osDistro": "Ubuntu",
            "osRelease": "22.04.4 LTS",
            "totalMemory":"135 GB",
            "nodeVersion": "v20.12.0",
            "xeokitVersion": "2.6.0-beta-12",
            "xeokitConvertVersion": "1.1.15-beta-8"
            })